/** npx tailwindcss -i ./src/input.css -o ./dist/output.css --watch

/***** FONT FAMILY ********/

@font-face {
    font-family: 'Epilogue';
    src: url('./assets/font-familly/Epilogue/Epilogue-Medium.ttf'),
         url('./assets/font-familly/Epilogue/Epilogue-Bold.ttf'),
         url('./assets/font-familly/Epilogue/Epilogue-Regular.ttf'),
         url('./assets/font-familly/Epilogue/Epilogue-Light.ttf'),
         url('./assets/font-familly/Epilogue/Epilogue-Thin.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/font-familly/Inter/Inter-Medium.ttf'),
         url('./assets/font-familly/Inter/Inter-Bold.ttf'),
         url('./assets/font-familly/Inter/Inter-Regular.ttf'),
         url('./assets/font-familly/Inter/Inter-Light.ttf'),
         url('./assets/font-familly/Inter/Inter-Thin.ttf');
}

/***** REGISTRATION ********/
body {
    background-color: #BDA3EFFF;
}

.font-inter {
    font-family: 'Inter';
}

.font-epilogue {
    font-family: 'Epilogue';
}

.container-registration{
    height: 100vh;
}

.form-registration {
    display: flex;
    align-items: center;
}

/************** Responsive REGISTRATION*****************/

/* @media (min-width:320px) {
    .container-registration {
        width: 90%;
    }

    /***** picture registration ***


    .picture-registration {
        display: none;
    }

    /******* form registration *******

    .form-registration {
        width: 100%;
    }

    .content-form{
        width: 100%;
    }
} */
